@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base colors: white background, dark red accents */
:root {
  color-scheme: light;
}

html, body {
  height: 100%;
}

body {
  @apply bg-primary/5 text-gray-900 antialiased;
  overflow: hidden;
}
